.painting-detail {

  &-text {
    padding: 50px 30px 15px;
    text-align: justify;

    &-title {
      font-size: var(--s-large-font);
      font-weight: var(--maximum-font-weight);
      text-align: initial;
      line-height: 1;
    }

    &-subtitle {
      font-size: var(--medium-font);
      font-weight: var(--medium-font-weight);
      padding-bottom: 15px;
    }

    &-location, &-characteristic {
      font-weight: 100;
    }

    &-characteristic {
      padding-bottom: 20px;
    }

    &-paragraph {
      .first-paragraph, .second-paragraph {
        padding-bottom: 10px;
      }

      .last-first-paragraph {
        padding-bottom: 25px;
      }

      .second-paragraph:last-child {
        padding-bottom: 40px;
      }
    }

  }

  &-image {
    text-align: center;
    padding-bottom: 25px;

    img {
      width: 90%;
      height: auto;
    }
  }
}

@media (min-width: 1185px) {
  .painting-detail {
    display: flex;

    &-text {
      padding: 110px 80px 0 70px;
      width: 48%;

      &-title {
        font-size: var(--extra-large-font);
      }

      &-subtitle {
        font-size: var(--s-large-font);
      }

      &-location, &-characteristic, &-paragraph {
        font-size: var(--medium-large-font);
      }
    }

    &-image {
      width: 52%;
      padding: 110px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (min-width: 3200px) {
  .painting-detail {
    &-text {
      &-title {
        font-size: var(--mega-large-font);
      }

      &-subtitle {
        font-size: var(--ultra-large-font);
      }

      &-location, &-characteristic, &-paragraph {
        font-size: var(--extra-large-font);
      }
    }
  }
}