.painting-detail {
  height: 100%;

  &-text {
    padding: 70px 30px 15px;
    text-align: justify;

    &-title {
      font-size: var(--s-large-font);
      font-weight: var(--maximum-font-weight);
    }

    &-subtitle {
      font-size: var(--medium-font);
      font-weight: var(--medium-font-weight);
      padding-bottom: 15px;
    }

    &-location, &-characteristic {
      font-weight: 100;
    }

    &-characteristic {
      padding-bottom: 20px;
    }

    &-paragraph {
      .first-paragraph, .second-paragraph {
        padding-bottom: 10px;
      }

      .last-first-paragraph {
        padding-bottom: 25px;
      }

      .second-paragraph:last-child {
        padding-bottom: 40px;
      }
    }

  }

  &-image {
    text-align: center;
    padding-bottom: 25px;

    img {
      width: 376px;
      height: auto;
    }
  }
}


@media (min-width: 1024px) {
  .painting-detail {

  }
}