@import '@/assets/styles/mixins';

.footer-information {
  text-align: center;
  padding-bottom: 15px;

  &-text {
    &-link {
      color: black;
      @include reusable-link-style;
    }
  }
}

@media (min-width: 1185px) {
  .footer-information {
    &-text {
      font-size: var(--medium-font);
      &-link {
        border-bottom: unset;

        i {
          font-size: var(--medium-large-font);
        }
      }
    }
  }
}

@media (min-width: 3200px) {
  .footer-information {
    &-text {
      font-size: var(--extra-large-font);
    }
  }
}