.footer-information {
  text-align: center;
  padding-bottom: 15px;

  &-text {
    &-link {
      text-decoration: none;
      color: black;
      border-bottom: solid 0.5px;
      &:hover {
        color: var(--first-color-800);
      }
    }
  }
}

@media (min-width: 1024px) {
  .footer-information {
    &-text {
      &-link {
        border-bottom: unset;
      }
    }
  }
}