@import '@/assets/styles/mixins';

.header-navigation {
  height: 121px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--first-color-100);

  .header-navigation-command {
    text-transform: capitalize;
    color: var(--first-color-950);
    @include reusable-link-style;
  }

  .header-navigation-title {
    font-size: var(--medium-font);
    font-weight: var(--maximum-font-weight);
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .header-navigation {
    padding: 0 70px;

    .header-navigation-command {
      font-size: var(--medium-font);
    }

    .header-navigation-title {
      font-size: var(--s-large-font);
    }
  }
}
