@import '@/assets/styles/mixins';

.header-navigation {
  height: 121px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--first-color-100);

  &-command {
    text-transform: capitalize;
    color: var(--first-color-950);
    cursor: pointer;
  }

  &-title {
    text-decoration: none;
    color: var(--first-color-950);
    font-size: var(--medium-font);
    font-weight: var(--maximum-font-weight);
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media (min-width: 1185px) {
  .header-navigation {
    padding: 0 70px;

    &-command {
      border-bottom: unset;
      font-size: var(--medium-font);
      @include reusable-link-style;
    }

    &-title {
      font-size: var(--s-large-font);
    }
  }
}

@media (min-width: 3200px) {
  .header-navigation {
    height: 182px;

    .header-navigation-command {
      font-size: var(--x-large-font);
    }

    .header-navigation-title {
      font-size: var(--extra-large-font);
    }
  }
}