.painting-card {
  position: relative;
  height: 100vh;
  overflow: hidden;

  &-wrapper {
    height: 100%;
    display: block;
  }

  &-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 65%;
  }

  &-info {
    position: absolute;
    top: 20%;
    height: 249px;
    width: 100%;
    background: rgba(40, 35, 34, 0.7);
    color: var(--first-color-50);
    padding: 25px 0 0 30px;

    &-title {
      font-size: var(--xx-large-font);
      font-weight: var(--maximum-font-weight);
      white-space: pre-wrap;
      width: 90%;
    }

    &-date {
      font-size: var(--medium-font);
      font-weight: var(--medium-font-weight);
    }
  }

  &-number {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 430px;

    p {
      font-family: 'Haglueta', sans-serif;
      font-size: var(--mega-large-font);
      color: var(--color-numeric-number);
      font-weight: var(--medium-font-weight);
    }
  }
}

@media (min-width: 1185px) {
  .painting-card {
    position: relative;
    overflow: hidden;
    width: 25vw;
    height: 100vh;

    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--background-icon-card);
      transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &-wrapper {
      &:hover .painting-card-overlay {
        top: -100%;
      }

      &:hover .painting-card-image {
        transform: scale(1);
      }
    }


    &-image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.5);
      transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}

@media (min-width: 3200px) {
  .painting-card {
    &-info {
      &-title {
        font-size: var(--ultra-large-font);
      }

      &-date {
        font-size: var(--large-font);
      }
    }
  }
}