@font-face {
  font-family: 'Jedira';
  src: url('@/assets/fonts/jedira-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Haglueta';
  src: url('@/assets/fonts/Haglueta-Klaristto.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('@/assets/fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('@/assets/fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('@/assets/fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('@/assets/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /*========== Colors ==========*/
  --first-color-0: #ffffff;
  --first-color-50: #f7f6f5;
  --first-color-100: #eceae8;
  --first-color-200: #dfdbd7;
  --first-color-300: #c0b8b1;
  --first-color-400: #a69991;
  --first-color-500: #94847b;
  --first-color-600: #88766e;
  --first-color-700: #71625d;
  --first-color-800: #5e514e;
  --first-color-900: #4d4441;
  --first-color-950: #282322;

  --color-numeric-number: #E40604;
  --color-notwork-button: #D94D4D;

  --background--right-side: #dcdcdc;
  --background-icon-card: #D0CCC6;

  --border-color-button: rgba(152, 152, 152, 0.50);
  --border-shadow-button: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);

  --border-card-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  --border-openwork-color: rgba(96, 188, 135, 0.5);
  --border-notwork-color: rgba(217, 77, 77, 0.5);

  --background-scroll: #353535;
  --border-scroll: #D9D9D9;


  /*========== Font and typography ==========*/
  --mega-large-font: 7.5rem; /* 120px */
  --ultra-large-font: 5rem; /* 80px */
  --extra-large-font: 3.75rem; /* 60px */
  --xx-large-font: 3.125rem; /* 50px */
  --x-large-font: 2.75rem; /* 44px */
  --large-font: 2.5rem; /* 40px */
  --s-large-font: 1.875rem; /* 30px */
  --x-medium-large-font: 1.75rem; /*28px*/
  --medium-large-font: 1.375rem; /* 22px */
  --medium-font: 1.25rem; /* 20px */
  --normal-font: 1.125rem; /* 18px */
  --base-font: 1rem; /* 16px */
  --small-medium-font: 0.875rem; /* 14px */
  --small-font: 0.75rem; /* 12px */
  --extra-small-font: 0.625rem; /* 10px */
  --giga-small-font: 0.5rem; /* 8px */

  /*========== Border Radius ==========*/
  --extra-boder-radius: 150px;
  --large-border-radius: 26px;
  --normal-border-radius: 15px;
  --small-border-radius: 10px;

  /*========== Font weight ==========*/
  --very-small-font-weight: 300;
  --small-font-weight: 400;
  --medium-font-weight: 500;
  --normal-font-weight: 600;
  --large-font-weight: 700;
  --extra-large-font-weight: 800;
  --maximum-font-weight: 900;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  ::-webkit-scrollbar {
    /*display: none;*/
  }
  ::-webkit-scrollbar {
    /*display: none; !* Safari and Chrome *!*/
  }
}

body {
  min-height: 100vh;
  color: var(--first-color-950);
  background: var(--first-color-50);
  line-height: 1.5;
  font-family:
          'PP Neue Montreal',
          Inter,
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          'Fira Sans',
          'Droid Sans',
          'Helvetica Neue',
          sans-serif;
  font-size: var(--base-font);
  font-weight: var(--small-font-weight);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1 {
  font-family: 'Jedira', sans-serif;
  font-weight: bold; /* Pour le styles gras */
}
