@import './base.css';

#app {
  overflow-y: hidden;
}

@media (min-width: 1185px) {
  .historia {
    height: 100%;
    display: flex;

    .painting-cards {
      cursor: pointer;
      flex: 1;
    }
  }
}

@media (min-width: 3200px) {

}


